doctype html

include _mixins.pug

html.no-js
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
		meta(content="", name="Description")
		meta(content="", name="Keywords")
		meta(content="index,follow", name="robots")
		meta(content="yes", name="apple-mobile-web-app-capable")
		title Sonline.su
		block styles
			link(rel="stylesheet", href="f/libs/itc.css", type="text/css")
			link(href="f/css/main.css", rel="stylesheet", type="text/css")

	block variables
	body
		header.h-header.header-sticky
			block topbarDefault
				.h-topbar-wrap.js-topbar
					.h-fixed
						.topbar-center.phone-hide
							form.reg(action="")
								label.topbar-title
									strong Хотите попробовать бесплатно?
									span.tablet-hide Предложим решение специально для вас
								.input-wrap
									input.text.dark(type="text" placeholder="Телефон для связи")
									input.reset(type="reset" value="")
								+btnBtn("Позвоните мне")
							button.topbar-closer.js-topbar-close(type='button')
						a.topbar-free-trial.phone-show(href="") Попробовать бесплатно

			block topbarStates

			.h-topnav-wrap
				.h-fixed.topnav-wrapper
					.topnav-center
						a.logo(href="/") Sonline
						block topNav
							nav.topnav
								button.topnav-burger.js-topnav-button(type='button')
									img.icon-burger(src='f/i/list.svg')
									img.icon-cross(src='f/i/cross.svg')
								//- input#topnav-toggle.desktop-hide(type="checkbox")
								//- label.topnav-button-container.desktop-hide(for="topnav-toggle").topnav-button
								ul.topnav-list.js-topnav
									block navLi1
										li(class=(currentPage === 'home' ? 'active' : ''))
											a(href="") Возможности
									block navLi2
										li(class=(currentPage === 'marketing' ? 'active' : ''))
											a(href="") Маркетинг
									block navLi3
										li(class=(currentPage === 'app' ? 'active' : ''))
											a(href="") Приложение
									block navLi4
										li(class=(currentPage === 'prices' ? 'active' : ''))
											a(href="") Цены
									block loginPhone
										li.topnav-login.phone-show
											+btn("Вход").with-border
											+btn("Регистрация").with-border
									li.topnav-phone.phone-show 8 (800) 302-32-09
						block login
							.topnav-login
								+btn("Вход").with-border.phone-hide
								+btn("Регистрация").with-border.phone-hide
						span.topnav-phone.phone-hide 8 (800) 302-32-09

		section.h-content-wrap
			block content

		footer.h-footer
			.h-fixed
				a.logo(href="/") Sonline
				.footer-cols__wrap
					.footer-cols__col.col1
						h3 Контакты
						ul.footer-contacts
							li
								h4 Россия, Москва
								.address Садовая-Каретная ул., д. 22, стр. 1
								.phone 8 (800) 302-32-09
								.mail
									a(href="mailto:info@sonline.su") info@sonline.su
							li
								h4 Россия, Санкт-Петербург
								.address Антоненко пер., д. 3
								.phone 8 (800) 302-32-09
								.mail
									a(href="mailto:info@sonline.su") info@sonline.su
							li
								h4 Армения, Ереван
								.address ул. Е. Тадевосяна, д. 3/1
								.phone +374 (44) 31 33 22
								.mail
									a(href="mailto:info@sonline.su") info@sonline.su
						ul.footer-social
							li
								a.telegram(href="") Telegram
							li
								a.youtube(href="") Youtube
						ul.footer-stores
							li
								a.google-play(href="") Доступно в Google Play
							li
								a.app-store(href="") Загрузите в App Store
					.footer-cols__col.col2
						h3 Информация
						ul.footer-nav
							li
								a(href="") Политика конфиденциальности
							li
								a(href="") Пользовательское соглашение
							li
								a(href="") Оферта
							li
								a(href="") Оферта по SMS
							li
								a(href="") Условия возврата
							li
								a(href="") Процесс оплаты
									br.tablet-show
									|  с помощью банковской карты
							li
								a(href="") Реквизиты
							li
								a(href="") L'Oreal
							li
								a(href="") Партнеры
					.footer-cols__col.col3
						h3 Наши продукты и сервисы
						p Кратко о том, что компания « SONLINE: Салоны онлайн» может предложить своим клиентам в сфере автоматизации и управленческого учета салона красоты, а также интеграции дополнительных сервисов, таких как: онлайн запись в салон красоты, бонусная программа для салона красоты, мобильное приложение для салона красоты и многое другое:
						p Программа для салона красоты «SONLINE: Салоны онлайн» включает в себя сразу несколько модулей: Программа для записи клиентов в салон красоты, Программа учета для салона красоты, Программа производственного контроля для салона красоты, складская программа для салона красоты бесплатно предоставляется обучение для администраторов и руководителей. Подробно со всем функционалом нашей программы для салонов красоты вы можете ознакомиться в разделе «Автоматизация салона красоты»
						p Программа для салона красоты «SONLINE: Салоны онлайн» имеет Модуль «Онлайн запись в салон красоты». Онлайн запись в салон красоты стала обязательным сервисом, который предлагают современные салоны своим клиентам. Подробнее о Сервисе онлайн записи вы можете прочитать в разделе «Онлайн запись в салон красоты»
						p Программа для салона красоты «SONLINE: Салоны онлайн» имеет Модуль «Мобильное приложение для салона красоты». Мобильное приложение для салона красоты на IOS и Android теперь может позволить себе каждый салон красоты. Стоимость мобильного приложения составляет 24 000 рублей в год ! 65 рублей в день – доступная цена для того, чтобы быть постоянно в телефоне каждого своего клиента!!! Подробнее в нашем разделе «Мобильное приложение для салона красоты»
						p Программа для салона красоты «SONLINE: Салоны онлайн» имеет Модуль «Бонусная программа для салона красоты». Функционал нашей бонусной программы полностью удовлетворит все маркетинговые потребности вашего салона. Подробнее в нашем разделе «Бонусная программа для салона красоты»
						p Программа для салона красоты «SONLINE: Салоны онлайн» - это компьютерная онлайн программа для салона красоты. У вас не возникнет вопрос : «Как скачать программу для салона красоты «SONLINE: САЛОНЫ ОНЛАЙН»? Она открывается в браузере вашего компьютера и доступна для входа по индивидуальному паролю для каждого сотрудника. Ознакомиться с ценами и купить программу для салона красоты «SONLINE: Салоны онлайн» вы можете в разделе «Цены»
						p Если бы кто-то решил составить «Рейтинг программ для салона красоты» мы надеемся, что максимальный набор функционала и дополнительных сервисов позволили бы нам занять достойное место в списке «Лучшие программы для салона красоты».

		block popup

		block scripts
			script(src='f/libs/itc.js')
			script(src="f/js/main.js")