doctype html

html.no-js
	head
		meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=1")
		meta(content="", name="Description")
		meta(content="", name="Keywords")
		meta(content="index,follow", name="robots")
		meta(content="yes", name="apple-mobile-web-app-capable")
		title sonline.su redesign

	body
		.h-wrapper
			ul
				li
					a(href="home.html") Главная
				li
					a(href="topnav_logged.html") Шапка - залогиненный вариант
				li
					a(href="form_states.html") Форма - варианты
				li
					a(href="form_states_result_mobile.html") Форма - варианты (мобильный вид шторки - результат)