extends _default

block styles
	link(href="../f/css/main.css", rel="stylesheet", type="text/css")
	link(href="../f/css/mobile-app.css", rel="stylesheet", type="text/css")

block content
	.mobile-app-frame
		.promo-wrap
			.promo-copy
				h1 Собственное мобильное приложение
				//h2 Приложение для записи в&nbsp;салон красоты для&nbsp;ваших клиентов
				.promo-banner
					.promo-banner-inner
						p Только в феврале! При покупке лицензии на программу SONLINE мы дарим вам мобильное приложение на платформе Android!
						a.promo-banner-btn(href="") Получить бесплатно
				ul.promo-list
					li Платформы iOS и Android
					li Бесплатные push-уведомления
					li Легкая кастомизация
			.promo-picture(style="background-image: url(../f/i/salon.jpg);")
				.promo-picture-screen
					.promo-picture-screen-mask
						img(src="../f/i/iphone-welcome.png" alt="")
					.promo-picture-screen-title Быстро, Удобно, Дешево !

		.h-content
			.h-fixed
				h2 Как это работает
				.content-cols-wrap.with-circles.cols-in-small
					.content-col
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.content-col
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				
				h2 О приложении
				.content-cols-wrap-padding
					.content-cols-wrap.var2
						.content-col
							.content-col-screen.pink
								img(src="../f/i/iphone-x-findonmap.png" alt="")
						.content-col
							h3 О нас
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.content-cols-wrap.var2
						.content-col
							.content-col-screen.orange
								img(src="../f/i/iphone-x-master.png" alt="")
						.content-col
							h3 Онлайн запись
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.content-cols-wrap.var2
						.content-col
							.content-col-screen.green
								img(src="../f/i/iphone-x-account.png" alt="")
						.content-col
							h3 Личный кабинет
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					.content-cols-wrap.var2
						.content-col
							.content-col-screen.blue
								img(src="../f/i/iphone-x-notification.png" alt="")
						.content-col
							h3 Уведомления
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				h2 Отзывы клиентов
				.content-cols-wrap.with-circles.cols-in-small
					.content-col
						.content-col-feedback
							img.content-col-feedback-logo(src="../f/i/b.png" alt="")
							.content-col-feedback-copy
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.content-col-feedback-name Сеть салонов красоты «Ромашка»
					.content-col
						.content-col-feedback
							img.content-col-feedback-logo(src="../f/i/b.png" alt="")
							.content-col-feedback-copy
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								.content-col-feedback-name Сеть салонов красоты «Ромашка»
					.content-col
						.content-col-feedback
							img.content-col-feedback-logo(src="../f/i/b.png" alt="")
							.content-col-feedback-copy
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
								.content-col-feedback-name Сеть салонов красоты «Ромашка»
					.content-col
						.content-col-feedback
							img.content-col-feedback-logo(src="../f/i/b.png" alt="")
							.content-col-feedback-copy
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.content-col-feedback-name Сеть салонов красоты «Ромашка»

				h2 Цены
				.content-cols-wrap-padding-2
					.content-cols-wrap.with-circles.reverse
						.content-col
							.content-col-price
								.content-col-price-summ.green
									span.big-fs 10&nbsp;000&nbsp;₽
										span.small-fs в&nbsp;год
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								.content-col-price-center
									a.btn(href="") Купить
						.content-col
							.content-col-price
								.content-col-price-summ.pink
									span.big-fs 10&nbsp;000&nbsp;₽
										span.small-fs в&nbsp;месяц
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.content-col-price-center
									a.btn(href="") Купить

				//
					h2 Заказать приложение
					.content-order-app-wrap
						form(action="")
							fieldset
								label(for="company") Название компании
								input.text(type="text" id="company")
							fieldset
								label(for="contact") Контактное лицо
								input.text(type="text" id="contact")
							fieldset
								label(for="phone") Контактный телефон
								input.text(type="text" id="phone")
							fieldset
								label(for="email") Контактный email
								input.text(type="text" id="email")
							.content-order-app-center
								button.btn(type="submit") Заказать приложение
	.b-integration-wrap
		.h-fixed
			.section-title
				h3.section-h3 Внедрение за 3 дня
			form.integration-form(action="")
				label
					strong Хотите попробовать бесплатно?
					span.tablet-hide Предложим решение специально для вас
				input.text(type="text" placeholder="Телефон для связи")
				+btnBtn("Позвоните мне")