extends _default

block content 

	.b-section-wrap.b-prices-wrap
		.h-fixed
			.section-title
				h2.section-h2 Цены на основные тарифы
				.section-copy Вы можете вернуть 150% стоимости программы*
			block tariffStates
				ul.prices-list
					li
						.prices-list__card
							h4 Мастер
							.prices-list__card-dop 1 специалист**
							.prices-list__card-hr
							.prices-list__card-period
								strong 3 000 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Купить")
					li
						.prices-list__card
							h4 Бизнес
							.prices-list__card-dop до 5 специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong 8 400 ₽ 
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Купить")
					li
						.prices-list__card
							h4 Ультра
							.prices-list__card-dop ∞ количество специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong 18 000 ₽ 
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Купить")
			ul.section-footnotes
				li * Компания SONLINE входит в Реестр отечественного ПО, это позволяет нашим клиентам 
					strong вернуть 150% стоимость программы
					| . Подробнее о том, как оформить налоговый вычет, читайте 
					a(href="") здесь
					|  и 
					a(href="") здесь
					| .
				li ** При расчете тарифа мы учитываем только Специалистов. Остальные сотрудники – администраторы, руководитель и т.д. не учитываются в стоимости программы.

	.b-integration-wrap
		.h-fixed
			.section-title
				h3.section-h3 Внедрение за 3 дня
			form.integration-form(action="")
				label
					strong Хотите попробовать бесплатно?
					span.tablet-hide Предложим решение специально для вас
				input.text(type="text" placeholder="Телефон для связи")
				+btnBtn("Позвоните мне")

	.b-section-wrap.b-differ-wrap
		.h-fixed
			.section-title
				h2.section-h2 10 отличий
				.section-copy действительно сильных отличий от наших конкурентов
			ul.differ-list
				li
					span.differ-list__numb 1
					.differ-list__inner
						h4 Максимально удовлетворяем потребности клиента по всем вопросам автоматизации бизнеса
						p 106 разделов и приложений программы позволят каждому клиенту найти именно то, что он ищет для автоматизации своего бизнеса.
				li
					span.differ-list__numb 2
					.differ-list__inner
						h4 Супер глубокий уровень проработки каждого раздела и приложения
						p Постоянное взаимодействие с нашими клиентами и более 8000 обновлений, сделанных в программе со времени создания, обеспечивают проработку каждого вопроса до мельчайших подробностей.
				li
					span.differ-list__numb 3
					.differ-list__inner
						h4 Серьезное внимание к вопросам статистики, количественного анализа и бизнес аналитики
						p Аналитические отчеты в каждом разделе и общие в разделе «Руководителю» дают максимально полную картину бизнеса в любом разрезе.
				li
					span.differ-list__numb 4
					.differ-list__inner
						h4 Уникальная программа лояльности
						p Гибкие настройки позволяют решать все насущные маркетинговые вопросы: привлечение новых клиентов, удержание постоянных, увеличение частоты посещения, возврат потерянных и многое другое.
				li
					span.differ-list__numb 5
					.differ-list__inner
						h4 Полный цикл внедрения системы
						p Наши сотрудники будут с вами на всех этапах внедрения программы. Персональный менеджер решит все административные вопросы и поможет в случае необходимости с интеграцией партнеров: АmoCRM, IP-телефония, онлайн касса и др.
				li
					span.differ-list__numb 6
					.differ-list__inner
						h4 Индивидуальное обучение
						p Личный тренер проведет обучение ваших сотрудников и будет с вами на связи все время сотрудничества
				li
					span.differ-list__numb 7
					.differ-list__inner
						h4 Бесплатная школа для руководителей и администраторов
						p Дополнительные кейсы по использованию программы. Примеры из жизни. Советы по работе.
				li
					span.differ-list__numb 8
					.differ-list__inner
						h4 Круглосуточная техническая поддержка
						p Время реагирования на любое обращение не превышает 5 минут.
				li
					span.differ-list__numb 9
					.differ-list__inner
						h4 Максимальный набор предложений, индивидуальные скидки. Лучшее предложение по соотношению цена–качество
						p Учитывая количество персонала и специфику салона, мы подберем для вас оптимальное предложение по цене и порядку оплаты.
				li
					span.differ-list__numb 10
					.differ-list__inner
						h4 Поддерживаем салоны в желании стать крупной сетью
						p Все условия для масштабирования вашего бизнеса: уникальные сетевые разработки для работы с общей клиентской базой, общий расчет заработной платы, общие финансовые отчеты и многое другое.
			.differ-notes__cols-wrap
				.differ-notes__col
					p Если вы решили купить программу для салона красоты, вам нужно обратиться к нам по телефону 
						strong 8-800-250-28-99
						| . Стоимость программы рассчитывается исходя из количества мастеров, работающих в салоне. Покупая модуль Программа для салона красоты бесплатно вы получаете обучение у наших специалистов и консультации в течение всего времени пользования программой.
					p У нас есть специальное предложение для однопрофильных салонов. Программа для барбершопа, ногтевой студии, студии депиляции или наращивания ресниц продается по специальному тариф «Лайт».
				.differ-notes__col
					p Если вы хотите купить программу для салона красоты SONLINE: салоны онлайн со всеми модулями: CRM программа для салона красоты, Онлайн запись для салона красоты, Мобильное приложение для салона красоты, Бонусная программа для салона красоты и IP-телефония, у нас для вас есть специальное предложение «Все включено», по которому предоставляется скидка до 20%.