extends _default

block variables
	- var currentPage = 'prices'

block content
	.b-section-wrap.b-prices-wrap
		.h-fixed
			.section-title
				h2.section-h2 Тарифы
				.section-copy Вы можете вернуть 150% стоимости программы*
			.prices-tabs-wrapper
				.prices-tabs.js-prices-tabs
					button.prices-tabs__tab.active.js-prices-tab(data-plan='oneYear') 12 месяцев
					button.prices-tabs__tab.js-prices-tab(data-plan='twoYear') 24 месяца
			block tariffStates
				ul.prices-list
					li.prices-list__card
							h4 Мастер
							.prices-list__card-dop 1 специалист**
							.prices-list__card-hr
							.prices-list__card-period
								strong.js-prices-price(data-prices='{"oneYear": "3 000", "twoYear":"6 000"}') 3 000 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Попробовать бесплатно")
					li.prices-list__card
							h4 Бизнес
							.prices-list__card-dop до 5 специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong.js-prices-price(data-prices='{"oneYear": "8 400", "twoYear":"10 000"}') 8 400 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Попробовать бесплатно")
					li.prices-list__card
							h4 Ультра
							.prices-list__card-dop ∞ количество специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong.js-prices-price(data-prices='{"oneYear": "18 000", "twoYear":"30 000"}') 18 000 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							+btn("Попробовать бесплатно")
					li.prices-list__card.prices-list__card_wide.prices-list__card_violet
							.prices-list__card-hit
								img(src='f/i/FireSimple.svg')
								span хит
							h4 Всё включено
							.prices-list__card-dop ∞ количество специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong.js-prices-price(data-prices='{"oneYear": "39 000", "twoYear":"65 000"}') 39 000 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							.prices-list__card-description
								.prices-list__card-description-text В тариф включены все дополнительные модули, кроме:
								.prices-list__card-description-item
									.prices-list__card-description-dash
									span Картотека
								.prices-list__card-description-item
									.prices-list__card-description-dash
									span Мобильное приложение
							+btn("Попробовать бесплатно")
					li.prices-list__card.prices-list__card_wide.prices-list__card_green
							h4 Всё включено+
							.prices-list__card-dop ∞ количество специалистов**
							.prices-list__card-hr
							.prices-list__card-period
								strong.js-prices-price(data-prices='{"oneYear": "62 800", "twoYear":"120 000"}') 62 800 ₽
								|  за 12 месяцев
							.prices-list__card-discount
								strong 3 месяца в подарок
								|  при первом подключении
							.prices-list__card-description
								.prices-list__card-description-text В тариф включены все дополнительные модули, кроме:
								.prices-list__card-description-item
									.prices-list__card-description-dash
									span Картотека
							+btn("Попробовать бесплатно")
			ul.section-footnotes
				li * Компания SONLINE входит в Реестр отечественного ПО, это позволяет нашим клиентам 
					strong вернуть 150% стоимость программы
					| . Подробнее о том, как оформить налоговый вычет, читайте 
					a(href="") здесь
					|  и 
					a(href="") здесь
					| .
				li ** При расчете тарифа мы учитываем только Специалистов. Остальные сотрудники – администраторы, руководитель и т.д. не учитываются в стоимости программы.

	.b-section-wrap.b-additional-module
		.h-fixed
			.section-title
				h2.section-h2 Дополнительные модули
				.section-copy к тарифам «Мастер», «Бизнес» и «Ультра». Платите только за то, что вам нужно!
			.itc-slider
				.itc-slider-wrapper
						ul.additional-module-list.itc-slider-items
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/QrCode.svg')
									.additional-module-title Картотека
								.additional-module-text Сбор согласий клиентов на обработку персональных данных
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 12 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/DeviceMobile.svg')
									.additional-module-title Мобильное приложение
								.additional-module-text Индивидуальное мобильное приложение для iOS и Android
								.additional-module-controls
									.additional-module-prices
										.additional-module-price от 30 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/MoneyWavy.svg')
									.additional-module-title Предоплата
								.additional-module-text Принимайте предоплату за услуги
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 12 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/Percent.svg')
									.additional-module-title Лояльность
								.additional-module-text Программа лояльности для клиентов с гибкой настройкой
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 12 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/CashRegister.svg')
									.additional-module-title ККТ
								.additional-module-text Интеграция с онлайн-кассой
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/CreditCard.svg')
									.additional-module-title ККТ + Эквайринг
								.additional-module-text Интеграция с онлайн-кассой и онлайн-платежи
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 12 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/CreditCard.svg')
									.additional-module-title Эквайринг
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/Headset.svg')
									.additional-module-title IP-телефония
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/HandCoins.svg')
									.additional-module-title Чаевые
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/WhatsappLogo.svg')
									.additional-module-title WhatsApp триггерные
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/ROI.svg')
									.additional-module-title ROI
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/Folder.svg')
									.additional-module-title Медицинские карты
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/Kanban.svg')
									.additional-module-title Задачник
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/Certificate.svg')
									.additional-module-title Сертификаты
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 6 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
							li.additional-module-element.itc-slider-item
								.additional-module-title-block
									.additional-module-icon
										img(src='f/i/UsersThree.svg')
									.additional-module-title Групповая запись
								.additional-module-text Описание модуля
								.additional-module-controls
									.additional-module-prices
										.additional-module-price 18 000
											span  ₽
										.additional-module-time за 12 месяцев
									+btn("Подключить").with-border.phone-hide
				.slider__controls
					.slider__pagination.itc-slider-indicators
						button(type='button' data-slide-to="0").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="1").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="2").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="3").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="4").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="5").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="6").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="7").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="8").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="9").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="10").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="11").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="12").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="13").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="14").slider__pagination-item.itc-slider-indicator

			ul.section-footnotes
				li Если вы решили купить программу для салона красоты, вам нужно обратиться к нам по телефону
					strong 8-800-250-28-99.
					span Стоимость программы рассчитывается исходя из количества мастеров, работающих в салоне. Покупая модуль Программа для салона красоты бесплатно вы получаете обучение у наших специалистов и консультации в течение всего времени пользования программой.
				li У нас есть специальное предложение для однопрофильных салонов. Программа для барбершопа, ногтевой студии, студии депиляции или наращивания ресниц продается по специальному тариф «Однопроф+».

	.b-section-wrap.b-card-file-module
		.h-fixed
			.section-title
				h2.section-h2 Модуль «Картотека»
				.section-copy Помогает собирать согласие ваших клиентов на обработку персональных данных согласно ФЗ РФ 152
			.card-file-block
				.card-file-main-text Новый сервис «Картотека» – удобный и дешевый способ собрать согласия ваших клиентов
				ul.card-file-list
					li.card-file-element
						img(src='f/i/checks-bold.svg')
						.card-file-content
							.card-file-element-title Соблюдение законов РФ
							.card-file-element-text Поможет решить вопросы по обработке персональных данных
					li.card-file-element
						img(src='f/i/checks-bold.svg')
						.card-file-content
							.card-file-element-title Удобство для клиентов
							.card-file-element-text Сбор согласия занимаем несколько минут с учетом его чтения и не требует наличие паспорта
					li.card-file-element
						img(src='f/i/checks-bold.svg')
						.card-file-content
							.card-file-element-title Простота настройки
							.card-file-element-text Интуитивно понятный интерфейс и легкая настройка позволяют начать использовать сервис в считанные минуты
					li.card-file-element
						img(src='f/i/checks-bold.svg')
						.card-file-content
							.card-file-element-title Уведомления по email
							.card-file-element-text Дополнительная отправка всех согласий на вашу почту позволит вам всегда иметь к ним доступ

	.b-integration-wrap
		.h-fixed
			.section-title
				h3.section-h3 Внедрение за 3 дня
			form.integration-form(action="")
				label
					strong Хотите попробовать бесплатно?
					span.tablet-hide Предложим решение специально для вас
				input.text(type="text" placeholder="Телефон для связи")
				+btnBtn("Позвоните мне")

	.b-section-wrap.b-differ-wrap
		.h-fixed
			.section-title
				h2.section-h2 10 отличий
				.section-copy действительно сильных отличий от наших конкурентов
			.itc-slider
				.itc-slider-wrapper
					ul.differ-list.itc-slider-items
						li.itc-slider-item
							span.differ-list__numb 1
							.differ-list__inner
								h4 106 разделов и 45 интеграций удовлетворят все потребности по автоматизации.
						li.itc-slider-item
							span.differ-list__numb 2
							.differ-list__inner
								h4 Серьезное внимание к вопросам логирования и безопасности. Максимальное разграничение доступов.
						li.itc-slider-item
							span.differ-list__numb 3
							.differ-list__inner
								h4 Глубокая проработка статистики и аналитики. Механизмы по работе с ней.
						li.itc-slider-item
							span.differ-list__numb 4
							.differ-list__inner
								h4 Уникальная программа лояльности с гибкими настройками под любые потребности.
						li.itc-slider-item
							span.differ-list__numb 5
							.differ-list__inner
								h4 Бесплатное внедрение и перенос данных с других программ.
						li.itc-slider-item
							span.differ-list__numb 6
							.differ-list__inner
								h4 Бесплатное обучение в течение всего срока обслуживание.
						li.itc-slider-item
							span.differ-list__numb 7
							.differ-list__inner
								h4 Новости-рекомендации по ведению бизнес процессов.
						li.itc-slider-item
							span.differ-list__numb 8
							.differ-list__inner
								h4 Круглосуточная техническая поддержка
						li.itc-slider-item
							span.differ-list__numb 9
							.differ-list__inner
								h4 Максимальный набор предложений, индивидуальные скидки. Лучшее предложение по соотношению цена–качество
						li.itc-slider-item
							span.differ-list__numb 10
							.differ-list__inner
								h4 Поддерживаем салоны в желании стать крупной сетью
				.slider__controls
					.slider__pagination.itc-slider-indicators
						button(type='button' data-slide-to="0").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="1").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="2").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="3").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="4").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="5").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="6").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="7").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="8").slider__pagination-item.itc-slider-indicator
						button(type='button' data-slide-to="9").slider__pagination-item.itc-slider-indicator

	.b-section-wrap.b-differ-wrap
		.h-fixed
			.differ-programs
				.differ-programs-content
					.differ-programs-title Программы лояльности L’OREAL
					.differ-programs-text Если у вас есть бонусные баллы L’oreal вы можете оплатить ими лицензию SONLINE. Для этого сообщите о бонусах вашему менеджеру или в вашем чате.
				.differ-programs-block
					.differ-programs-content
						.differ-programs-title Приведи друга
						.differ-programs-text Вы можете  порекомендовать нашу программу и ваш друг получит скидку 20% при подключении, а вы скидку на такую же сумму при пролангации
					.differ-programs-content
						.differ-programs-title Региональная программа
						.differ-programs-text
							a(href='/') Специальное предложение
							span  для несетевых салонов красоты, находящихся в городах РФ с населением менее 1 млн. человек.
			.differ-notes__cols-wrap
				.differ-notes__col
					p Если вы решили купить программу для салона красоты, вам нужно обратиться к нам по телефону 
						strong 8-800-250-28-99
						| . Стоимость программы рассчитывается исходя из количества мастеров, работающих в салоне. Покупая модуль Программа для салона красоты бесплатно вы получаете обучение у наших специалистов и консультации в течение всего времени пользования программой.
					p У нас есть специальное предложение для однопрофильных салонов. Программа для барбершопа, ногтевой студии, студии депиляции или наращивания ресниц продается по специальному тариф «Лайт».
				.differ-notes__col
					p Если вы хотите купить программу для салона красоты SONLINE: салоны онлайн со всеми модулями: CRM программа для салона красоты, Онлайн запись для салона красоты, Мобильное приложение для салона красоты, Бонусная программа для салона красоты и IP-телефония, у нас для вас есть специальное предложение «Все включено», по которому предоставляется скидка до 20%.